.nav-panel {
    min-width: 960px;
    background: #f9f9f9;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #4fc3f7;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
}
div {
    display: block;
}