.navbar {
    min-width: 100%;
    background: #f9f9f9;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #4fc3f7;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
}
.container-fluid{
	margin:auto 15%;
}
.main{
    background: #f9f9f9;
    padding: 0 10px 0 10px;
    box-shadow: 2px 2px 5px #d3d6da;
}
.mian-sider{
	background: #f9f9f9;
    
}
.slider-content{
	padding: 0  0 0 10px;
    box-shadow: 2px 2px 5px #d3d6da;
	padding-bottom: 10px;
	margin: 0px;
	margin-bottom: 25px;
}
.title{
	background: #ECECEC;
    padding: 8px;
	margin-bottom: 3px; 
    color: #474846;
}
a{
	color: #474846;
	margin-top:4px;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
color: #099
}
a:active{
text-decoration:none;
}
.logo{
	
}
